www/bower_components/*
www/node_modules/*
build/*
**/*.css
**/*.css.map

www/app/styles/*.css
www/app/styles/*.css.map

**/config.js

**/*.pyc
**/*.ini
**/*.egg-info
**/*.egg-info/*
**/*.egg

**/*.rar

npm-debug.log
web.config

.DS_Store
platforms
hooks
platforms
config.xml
.grunt
plugins
node_modules/*
bower_components/*